html{
    height: 100%;
}

body{
    font-family: Arial, monospace;
    background: linear-gradient(to right top, #141e30, #243b55);
}

h2{
    display: grid;
    justify-content: center;
}

.content{
    display: grid;
    justify-content: center;
}

.box{
    display: grid;
    justify-content: center;
    margin-top: 300px;
    width: 450px;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 35px 15px rgba(0, 0, 0, 0.7);
}

.password_length_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 380px;
}

#length_range {
    width: calc(100% - 60px);
    padding: 20px 0;
}

#length_number {
    width: 45px;
}

#password_text {
    width: 380px;
    height: 40px;
    margin: 20px 0;
    border: 2px solid #adaba8;
    border-radius: 5px;
    font-size: 0.9em;
}

#password_text:focus {
    outline: none;
    border: 2px solid #243b55;
}

.box > button{
    width: 386px;
    height: 44px;
    margin: 20px auto;
    background: #4d5966;
    opacity: 0.9;
    border-color: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1428571429em;
    font-weight: bold;
}

.box > button:hover{
    opacity: 1;
}